.button {
    color: var(--hero-text-color);
    background-color: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-weight: 700;
}