.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}