.benefits__list {
    display: flex;
    gap: 30px;
}

.benefits__item {
    width: 270px;
}

.svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--filter-background-color);
    background-position: center;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.benefits__description:not(:last-child) {
    margin-left: 30px;
}

.benefits__item-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits__text {
    color: var(--primary-text-color);
    line-height: 1.71;
}