.header {
    border-bottom: 1px solid #ECECEC;
}

.header__logo {

    color: var(--title-text-color);
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    }
}

.header__container {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}

.header__nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 796px;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .header__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 87px;
}

.header__item {
    position: relative;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--cubic);
    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.current {
    color: var(--acent-color);
    &:after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--acent-color);
        left: 0;
        top: 96%;
    }
}

.header__item {
    padding-top: 32px;
    padding-bottom: 32px;
}

// .header__contacts {
//     display: flex;
//     // flex-direction: column;
//     margin-left: auto;

//     @media screen and (min-width: 1200px) {
//         display: flex;
//         align-items: center;
//         gap: 30px;
//         margin-left: auto;
//     }
// }


.header__contacts a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--cubic);
    &:hover,
    &:focus {
        color: var(--acent-color);
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-left: 90px;
    }

    @media screen and (min-width: 1200px) {
        color: var(--primary-text-color);
        font-size: 14px;
        line-height: 1.14;
    }
}

.header__email,
.contact__phone {
    display: flex;
    gap: 8px;

    @media screen and (min-width: 1200px) {
        gap: 10px;
    }
}

.icon-mail,
.icon-phone {
    fill: currentColor;
}

@media screen and (max-width: 1199.98px) {
    .icon-mail {
        width: 14px;
        height: 10px;
    }
}

@media screen and (max-width: 1199.98px) {
    .icon-phone {
        height: 14px;
    }
}

.header__email {
   margin-bottom: 10px;
   @media screen and (min-width: 1200px) {
   margin-bottom: 0; 
   }
}

@media screen and (min-width: 1200px) {
    .header__list {
        margin-left: 92px;
    }
    .header__contacts {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: auto;
    }
    .header__item,
    .header__email,
    .contact__phone {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

// mobile-menu

.header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms ease;

    &.is-open {
        transform: translateX(0%);
    }

    @media screen and (min-width:768px) {
        display: none;
    }

}

.mobile-menu__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 64px;
}

.mobile-menu__iteam {
    color: var(--acent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    
}

.mobile-social__iteam {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
        border-right: none;
    }

    &:first-child {
        padding-left: 0;
    }
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width:767.98px) {
        display: none;
    }
}

.menu-btn {
    height: 40px;
    width: 40px;
    border: none;
    padding: 11px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        display: none;
        
    }
}

.menu__close {
    width: 40px;
    height: 40px;
    &:hover,
    &:focus {
        fill: var(--acent-color);
    }
}

.header__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.contact__link-phone {
    color: var(--acent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact__link-email {
    color: var(--primary-text-color);
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact__item-email {
        margin-top: 32px;
}


.menu-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-list__link {
    color: var(--title-text-color);
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.active {
    color: var(--acent-color);
}

body {
    &.overflow {
        overflow: hidden;
    }
}