.services {
    display: none;
}


@media screen and (min-width:1200px) {
    .services {
        display: flex;
        padding-top: 0;
    }

    .section__title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }

    .services__list {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .services__item {
        position: relative;
    }

    .services__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .services__description {
        position: absolute;
        color: var(--hero-text-color);
        background-color: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        width: 370px;
        left: 0;
        bottom: 0;
        padding-top: 27px;
        padding-bottom: 27px;
    }
}